@import "tailwindcss";

:root {
  --background: #fbfaf2;
  --foreground: #171717;
  --blue1: #1860c3;
  --blue2: #3d80cb;
  --blue3: #71a9db;
  --yellow1: #ffbf6b;
  --yellow2: #ffd6b3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellow1: var(--yellow1);
  --color-yellow2: var(--yellow2);
  --color-blue1: var(--blue1);
  --color-blue2: var(--blue2);
  --color-blue3: var(--blue3);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", "Sarabun", sans-serif;
}

@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
  }
}

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out;
  }

