@import "tailwindcss";

:root {
  --background: #fbfaf2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-black-1:
  --color-black-2:
  --color-black-3:
  --color-black-4:
  --color-black-5:
  --color-white:

  --color-purple-1:
  --color-purple-2:
  --color-purple-3:
  --color-purple-4:
  --color-purple-5:

  --color-yellow-1:
  --color-yellow-2:
  --color-yellow-3:
  --color-yellow-4:
  --color-yellow-5:
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", "Sarabun", sans-serif;
}

@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
  }
}

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out;
  }

